/* font-family Mulish */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

  body {
    margin: 10px 130px;
    max-width: 1440px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}

/* Header Section */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    border: solid red 1px;

}
.nav-left-side {
    display: flex;
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.text-color {
    color: #FF5400;
}
.nav-left-side img {
    width: 3rem;
    height: 3.5rem;
    align-items: center;
    display: inline block;
}
.nav-right-side {
    display: flex;
    text-decoration: none;
    
}
.nav-right-side > ul {
    display: flex;
}
.nav-right-side li {
    list-style: none;
    padding-left: 44px;
    text-decoration: none;
}
.nav-right-side a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Banner section */
.container-banner {
    margin-top: 50px;
    border: 1px solid red;
    background-color: #424247;
    background-image: url(Images/Group13.png);
    border-radius: 15px;
    background-size: cover; 
    background-position: center;
}

h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    
}
.banner-discription {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 20px 270px;
}

.input-in-banner {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin: 0px 185px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-bottom: 106px;
}
.input-box {
    height: 52px;
    width: 174px;
    border-radius: 10px;
    border: none;
}
.input-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    cursor: pointer;
    transition: 0.3s;
}
.input-button:hover{
    color: #FFF;
    background: #481902;

}
.input-box-label {
    width:174px;
    display: inline-block;
    height: 52px;
    font-size: 1rem;
}

/* tour-section" */
.tour-section {
    display: flex;
    margin-top: 100px;
}
h2 {
    color: #131318;
    text-align: center;
    font-size: 2rem;;
    font-weight: 800;
}
.tour-inline {
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.tour-bottom {
    margin-top: 20px;
    margin-bottom: 30px;
}
.tour-image {
    margin: 5%;
}


/*  Destination Section */

/* Responsive For Phone*/

 @media screen and (max-width:600px) {
    body {
        margin: 0px 0px;
        
    }
    
    .input-in-banner {
        flex-direction: column;
    }
    .tour-section{
        flex-direction: column;
}  
.tour-sectoin-text {
    margin-left: 20px;
}
 }